Repository bounswe/bounswe2019group1, pull requests merged in 2019-11, with the labels that each got.

#272 Search bars are added to headers, not functional yet
  practice-app/react-front-end/src/assets/jss/material-kit-react.js
  practice-app/react-front-end/src/assets/jss/material-kit-react/components/cardAvatarStyle.js
  practice-app/react-front-end/src/components/Card/CardAvatar.js
  practice-app/react-front-end/src/components/Header/HeaderLinks.js
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/views/ProfilePage/EditProfile.js
  practice-app/react-front-end/src/views/ProfilePage/ProfilePage.js
Labels: Coding: Frontend, Effort: Medium, Priority: High

#299 #296 added article endpoints
  backend/tradersplatform/article/__init__.py
  backend/tradersplatform/article/admin.py
  backend/tradersplatform/article/apps.py
  backend/tradersplatform/article/migrations/0001_initial.py
  backend/tradersplatform/article/migrations/__init__.py
  backend/tradersplatform/article/models.py
  backend/tradersplatform/article/serializers.py
  backend/tradersplatform/article/tests.py
  backend/tradersplatform/article/urls.py
  backend/tradersplatform/article/views.py
  backend/tradersplatform/tradersplatform/settings/base.py
  backend/tradersplatform/tradersplatform/urls.py
Labels: Coding: Backend

#306 Adding article page is created.
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/views/AddArticle/AddArticle.js
  practice-app/react-front-end/src/views/AddArticle/section/Adding.js
  practice-app/react-front-end/src/views/LoginPage/LoginPage.js
Labels: Coding: Frontend

#313 PortfolioPage protected. Header and buttons added.
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/views/ArticlesPage/ArticlesPage.js
  practice-app/react-front-end/src/views/PortfolioPage/Portfolio.js
Labels: Coding: Frontend

#318 Editing Page Update
  android/khajit/app/src/main/java/com/project/khajit_app/activity/HomeFeedPageActivity.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/LoginPageActivity.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/editprofile/EditUserProfileFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/api/Api.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/ChangePrivacy.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/GenericUserModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/LoginResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/UpdateUser.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/UpdateUserResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/UpgradeDowngrade.kt
  android/khajit/app/src/main/java/com/project/khajit_app/global/User.kt
  android/khajit/app/src/main/res/layout/edit_user_profile_fragment.xml
Labels: Effort: High, Platform: Android, Priority: Medium

#351 added sort by created_date and get by id endpoint
  backend/tradersplatform/article/serializers.py
  backend/tradersplatform/article/urls.py
  backend/tradersplatform/article/views.py
Labels: Coding: Backend, Effort: Low, Priority: High

#350 I have added event calendar feature
  backend/tradersplatform/event/views.py
Labels: Coding: Backend, Effort: Low

#317 #307 implemented article comment feature
  backend/tradersplatform/article/migrations/0002_auto_20191120_1731.py
  backend/tradersplatform/article_comment/__init__.py
  backend/tradersplatform/article_comment/admin.py
  backend/tradersplatform/article_comment/apps.py
  backend/tradersplatform/article_comment/migrations/0001_initial.py
  backend/tradersplatform/article_comment/migrations/0002_auto_20191124_0850.py
  backend/tradersplatform/article_comment/migrations/__init__.py
  backend/tradersplatform/article_comment/models.py
  backend/tradersplatform/article_comment/serializers.py
  backend/tradersplatform/article_comment/tests.py
  backend/tradersplatform/article_comment/urls.py
  backend/tradersplatform/article_comment/views.py
  backend/tradersplatform/myuser/serializers.py
  backend/tradersplatform/tradersplatform/settings/base.py
  backend/tradersplatform/tradersplatform/urls.py
Labels: Coding: Backend

#345 React frontend
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/service/article.service.js
  practice-app/react-front-end/src/service/equipment.service.js
  practice-app/react-front-end/src/views/AddArticle/AddArticle.js
  practice-app/react-front-end/src/views/AddArticle/section/Adding.js
  practice-app/react-front-end/src/views/ArticlesPage/ArticlesPage.js
  practice-app/react-front-end/src/views/LoginPage/LoginPage.js
  practice-app/react-front-end/src/views/PortfolioPage/Portfolio.js
  practice-app/react-front-end/src/views/ProfilePage/EditProfile.js
  practice-app/react-front-end/src/views/ProfilePage/ProfilePage.js
  practice-app/react-front-end/src/views/SignupPage/SignupPage.js
Labels: Coding: Frontend

#358 Wallet Page is added.
  practice-app/react-front-end/package-lock.json
  practice-app/react-front-end/package.json
  practice-app/react-front-end/src/components/Card/CardIcon.js
  practice-app/react-front-end/src/components/Card2/Card.js
  practice-app/react-front-end/src/components/Card2/CardAvatar.js
  practice-app/react-front-end/src/components/Card2/CardBody.js
  practice-app/react-front-end/src/components/Card2/CardFooter.js
  practice-app/react-front-end/src/components/Card2/CardHeader.js
  practice-app/react-front-end/src/components/Card2/CardIcon.js
  practice-app/react-front-end/src/components/CustomTabs/CustomTabs.js
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/components/Tasks/Tasks.js
  practice-app/react-front-end/src/components/Typography/Danger.js
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/service/article.service.js
  practice-app/react-front-end/src/service/profileinformation.service.js
  practice-app/react-front-end/src/variables/charts.js
  practice-app/react-front-end/src/variables/general.js
  practice-app/react-front-end/src/views/AddArticle/AddArticle.js
  practice-app/react-front-end/src/views/AddArticle/section/Adding.js
  practice-app/react-front-end/src/views/ArticlesPage/ArticlesPage.js
  practice-app/react-front-end/src/views/ProfilePage/ProfilePage.js
  practice-app/react-front-end/src/views/SignupPage/SignupPage.js
  practice-app/react-front-end/src/views/WalletPage/WalletPage.js
Labels: Coding: Frontend

#364 Some modifications at wallet page.
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/service/article.service.js
  practice-app/react-front-end/src/service/authentication.service.js
  practice-app/react-front-end/src/service/user.service.js
  practice-app/react-front-end/src/variables/general.js
  practice-app/react-front-end/src/views/AddArticle/AddArticle.js
  practice-app/react-front-end/src/views/AddArticle/EditArticle.js
  practice-app/react-front-end/src/views/AddArticle/section/Adding.js
  practice-app/react-front-end/src/views/AddArticle/section/Editing.js
  practice-app/react-front-end/src/views/ArticlesPage/Article.js
  practice-app/react-front-end/src/views/ArticlesPage/ArticlesPage.js
  practice-app/react-front-end/src/views/LoginPage/LoginPage.js
  practice-app/react-front-end/src/views/ProfilePage/ProfilePage.js
  practice-app/react-front-end/src/views/ProfilePage/UserProfile.js
  practice-app/react-front-end/src/views/WalletPage/WalletPage.js
Labels: Coding: Frontend

#382 Bug fixes and refreshing pages
  android/khajit/app/src/main/java/com/project/khajit_app/activity/HomeFeedPageActivity.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/LoginPageActivity.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/editprofile/EditUserProfileFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/other_profile/OtherUserProfile.kt
Labels: Effort: Low, Platform: Android, Priority: Medium

#383 Bug fixes, small functionality changes
  android/khajit/Khajit-app.iml
  android/khajit/app/app.iml
  android/khajit/app/src/main/java/com/project/khajit_app/activity/LoginPageActivity.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/SignUpPageActivity.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/SignUpPageTraderActivity.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/editprofile/EditUserProfileFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/BasicUser.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/TraderUser.kt
  android/khajit/app/src/main/res/layout/activity_sign_up_page_trader.xml
  android/khajit/app/src/main/res/layout/activity_signup.xml
  android/khajit/app/src/main/res/layout/fragment_notifications.xml
  android/khajit/app/src/main/res/layout/notification_detail_fragment.xml
  android/khajit/local.properties
Labels: Effort: Medium, Platform: Android, Priority: High
