Repository bounswe/bounswe2019group1, pull requests merged in 2019-12, with the labels that each got.

#418 Added image field to article.
  backend/tradersplatform/article/migrations/0002_article_image.py
  backend/tradersplatform/article/models.py
  backend/tradersplatform/article/serializers.py
Labels: Coding: Backend, Effort: Low, Priority: Medium

#454 Portfoli Pages
  android/khajit/Khajit-app.iml
  android/khajit/app/app.iml
  android/khajit/app/build.gradle
  android/khajit/app/src/main/java/com/project/khajit_app/activity/LoginPageActivity.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/OnePortfolioViewAdapter.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/OtherOnePortfolioViewAdapter.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/OtherPortfolioListAdapter.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/PortfolioListAdapter.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/myportfolio/AddMyPortfolioFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/myportfolio/AddMyPortfolioModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/myportfolio/EditMyPortfolioFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/myportfolio/EditMyPortfolioModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/myportfolio/MyPortfolioFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/myportfolio/MyPortfolioModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/myportfolio/OneMyPortfolioFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/myportfolio/OneMyPortfolioModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/other_profile/OtherUserProfile.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/otherportfolio/OtherOnePortfolioFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/otherportfolio/OtherOnePortfolioModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/otherportfolio/OtherPortfolioFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/otherportfolio/OtherPortfolioModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/profile/UserProfile.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/search/SearchFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/api/Api.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/FollowUnfollowModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/FollowUnfollowResponseModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/ListPortfolioResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/OnePortfolioResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/PortfolioDeleteResponseModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/PortfolioEditRequestModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/PortfolioEditResponseModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/PortfolioModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/PortfolioOwnerModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/isFollowingPortfolioResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/global/User.kt
  android/khajit/app/src/main/res/layout/activity_add_myportfolio.xml
  android/khajit/app/src/main/res/layout/activity_edit_myportfolio.xml
  android/khajit/app/src/main/res/layout/activity_myportfolio.xml
  android/khajit/app/src/main/res/layout/activity_myportfolio_page.xml
  android/khajit/app/src/main/res/layout/activity_otherportfolio.xml
  android/khajit/app/src/main/res/layout/activity_otherportfolio_page.xml
  android/khajit/app/src/main/res/layout/activity_portfolio.xml
  android/khajit/app/src/main/res/layout/fragment_search.xml
  android/khajit/app/src/main/res/layout/user_profile_fragment.xml
  android/khajit/local.properties
Labels: Effort: High, Platform: Android, Priority: High

#463 Article Search
  backend/tradersplatform/article/urls.py
  backend/tradersplatform/article/views.py
Labels: Coding: Backend, Effort: High, Priority: High, Status: Review Needed, Type: Feature Request, python

#465 Updated event search.
  backend/tradersplatform/event/views.py
Labels: Coding: Backend, Effort: Low, Priority: Low

#467 Feature/461
  backend/tradersplatform/article/urls.py
  backend/tradersplatform/article/views.py
Labels: Coding: Backend, Effort: Medium

#416 Header is modified and redirected to SearchPage
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/components/Snackbar/Snackbar.js
  practice-app/react-front-end/src/components/Snackbar/SnackbarContent.js
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/service/edit-profile-service.js
  practice-app/react-front-end/src/service/follower.service.js
  practice-app/react-front-end/src/service/wallet.service.js
  practice-app/react-front-end/src/views/ArticlesPage/Article.js
  practice-app/react-front-end/src/views/ArticlesPage/ArticlesPage.js
  practice-app/react-front-end/src/views/PortfolioPage/Portfolio.js
  practice-app/react-front-end/src/views/ProfilePage/EditProfile.js
  practice-app/react-front-end/src/views/ProfilePage/ProfilePage.js
  practice-app/react-front-end/src/views/ProfilePage/UserProfile.js
  practice-app/react-front-end/src/views/SearchResults/SearchResults.js
  practice-app/react-front-end/src/views/WalletPage/WalletPage.js
Labels: Coding: Frontend, Priority: High

#473 Search Events-Articles, Pending Request, Wallet
  android/khajit/app/src/main/java/com/project/khajit_app/activity/DepositFundsFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/editprofile/EditUserProfileFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/mywallet/MyWalletFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/mywallet/MyWalletFragmentModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/other_profile/OtherUserProfile.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/profile/UserProfile.kt
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/search/SearchFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/api/Api.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/ArticleSearchModelResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/ArticleSearchResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/FollowingPendingListResponseModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/FollowingPendingResponseModel.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/ListEventResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/OneEventResponse.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/createWalletResponse.kt
  android/khajit/app/src/main/res/layout/fragment_deposit_funds.xml
  android/khajit/app/src/main/res/layout/fragment_search.xml
  android/khajit/app/src/main/res/layout/my_wallet.xml
  android/khajit/app/src/main/res/layout/other_user_profile_fragment.xml
Labels: Effort: High, Platform: Android, Priority: High

#468 Equipment page and prediction added.
  practice-app/react-front-end/package-lock.json
  practice-app/react-front-end/package.json
  practice-app/react-front-end/src/assets/canvasjs.min.js
  practice-app/react-front-end/src/assets/canvasjs.react.js
  practice-app/react-front-end/src/assets/jss/material-dashboard-react/views/dashboardStyle.js
  practice-app/react-front-end/src/assets/jss/material-kit-react/views/profilePage.js
  practice-app/react-front-end/src/components/Annotation/Annotation.js
  practice-app/react-front-end/src/components/Annotation/ImageAnnotation.js
  practice-app/react-front-end/src/components/Annotation/TextAnnotation.js
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/environments/environment.prod.js
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/service/annotation.service.js
  practice-app/react-front-end/src/service/article.service.js
  practice-app/react-front-end/src/service/authentication.service.js
  practice-app/react-front-end/src/service/equipment.service.js
  practice-app/react-front-end/src/service/notification.service.js
  practice-app/react-front-end/src/variables/charts2.js
  practice-app/react-front-end/src/variables/general.js
  practice-app/react-front-end/src/views/ArticlesPage/Article.js
  practice-app/react-front-end/src/views/Equipment/Equipment.js
  practice-app/react-front-end/src/views/ProfilePage/ProfilePage.js
  practice-app/react-front-end/src/views/SearchResults/SearchResults.js
Labels: Coding: Frontend, Platform: Web, Priority: High

#500 Equipment, Market and Event page edited.
  practice-app/react-front-end/package-lock.json
  practice-app/react-front-end/package.json
  practice-app/react-front-end/src/assets/jss/material-dashboard-react/views/dashboardStyle.js
  practice-app/react-front-end/src/components/Annotation/Annotation.js
  practice-app/react-front-end/src/components/Annotation/TextAnnotation.js
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/index.js
  practice-app/react-front-end/src/service/annotation.service.js
  practice-app/react-front-end/src/service/equipment.service.js
  practice-app/react-front-end/src/service/event.service.js
  practice-app/react-front-end/src/service/wallet.service.js
  practice-app/react-front-end/src/views/ArticlesPage/Article.js
  practice-app/react-front-end/src/views/Equipment/Equipment.js
  practice-app/react-front-end/src/views/EventsPage/Events.js
  practice-app/react-front-end/src/views/LoginPage/LoginPage.js
  practice-app/react-front-end/src/views/PortfolioPage/Portfolio.js
  practice-app/react-front-end/src/views/ProfilePage/UserProfile.js
  practice-app/react-front-end/src/views/WalletPage/WalletPage.js
Labels: Coding: Frontend, Effort: High, Priority: High

#508 Text and Image Annotations are completed.
  practice-app/react-front-end/package-lock.json
  practice-app/react-front-end/package.json
  practice-app/react-front-end/src/components/Annotation/Annotation.js
  practice-app/react-front-end/src/components/Annotation/ImageAnnotation.js
  practice-app/react-front-end/src/components/Annotation/TextAnnotation.js
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/service/equipment.service.js
  practice-app/react-front-end/src/views/ArticlesPage/Article.js
  practice-app/react-front-end/src/views/Equipment/Equipment.js
  practice-app/react-front-end/src/views/EventsPage/Events.js
  practice-app/react-front-end/src/views/PortfolioPage/Portfolio.js
  practice-app/react-front-end/src/views/ProfilePage/ProfilePage.js
  practice-app/react-front-end/src/views/ProfilePage/UserProfile.js
  practice-app/react-front-end/src/views/WalletPage/WalletPage.js
Labels: Coding: Frontend, Effort: Medium, Platform: Web

#514 Some changes in equipment page.
  practice-app/react-front-end/src/components/ProfileHeader/PheaderLinks.js
  practice-app/react-front-end/src/views/Equipment/Equipment.js
Labels: Coding: Frontend

#515 Currency symbol corrected.
  practice-app/react-front-end/src/views/Equipment/Equipment.js
Labels: Coding: Frontend, Effort: Low

#523 fix article, article comment, article like responses
  backend/tradersplatform/article/views.py
  backend/tradersplatform/article_comment/views.py
  backend/tradersplatform/article_like/urls.py
  backend/tradersplatform/article_like/views.py
Labels: Coding: Backend, Effort: Medium, Priority: High

#527 bugfix - article like -dislike response
  backend/tradersplatform/article_like/views.py
Labels: Coding: Backend, Priority: High

#528 Profile Picture Update
  android/khajit/app/app.iml
  android/khajit/app/src/main/AndroidManifest.xml
  android/khajit/app/src/main/java/com/project/khajit_app/activity/ui/editprofile/EditUserProfileFragment.kt
  android/khajit/app/src/main/java/com/project/khajit_app/api/Api.kt
  android/khajit/app/src/main/java/com/project/khajit_app/data/models/UpdateUserResponse.kt
  android/khajit/app/src/main/res/layout/edit_user_profile_fragment.xml
Labels: Effort: High, Platform: Android, Priority: High
